<div class="media-player">
    <div class="media-player--wrapper ">
        <!--Zona del artista-->
        <div class="artist player-center">
            
        </div>
        <!--Zona del reproductor-->
        <div class="player-controls player-center">
            
        </div>
        <!--Zona del controles adicionales-->
        <div class="player-audio player-center">
            <ng-container *ngTemplateOutlet="playerAudio"></ng-container>
        </div>
    </div>
</div>




<ng-template #playerAudio>
    <div class="player-audio-inside">
        <button class="btn-media">
            <i class="uil uil-list-ui-alt"></i>
        </button>
        <button class="btn-media">
            <i class="uil uil-boombox"></i>
        </button>
        <button class="btn-media">
            <i class="uil uil-volume-off"></i>
        </button>
    </div>
</ng-template>